<form id="frm" action="/admin/User/addUser" method="post" enctype="multipart/form-data"
      xmlns:th="http://www.w3.org/1999/xhtml">
    <input type="hidden" name="recommId" th:value="${recommId}"/>

    <div style="margin-bottom:20px">
        <input class="easyui-textbox" name="recommName" style="width:90%"
               label="推   荐   人" required th:value="${recommName}" readonly="readonly" />
    </div>

    <div style="margin-bottom:20px">
        <input class="easyui-textbox" name="userName" style="width:90%"
               label="用   户   名" required th:value="${userName}"/>
    </div>

    <div style="margin-bottom:20px">
        <input class="easyui-textbox" name="nickName" style="width:90%"
               label="昵        称" required th:value="${nickName}"/>
    </div>

    <div style="margin-bottom:20px">
        <input class="easyui-textbox" name="realName" style="width:90%"
               label="真实姓名" required th:value="${realName}"/>
    </div>

</form>