<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理系统 </title>
    <link href="/easyui/easyui.css" rel="stylesheet"/>
    <link href="/easyui/icon.css" rel="stylesheet"/>
    <link href="/easyui/skin-red.css" rel="stylesheet"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet"/>
    <script src="/easyui/jquery.min.js"></script>
    <script src="/easyui/jquery.easyui.min.js"></script>
    <script src="/easyui/local/easyui-lang-zh_CN.js"></script>
</head>
<body>
<div id="toolbar">
    <div class="search-wapper">
        <form class="query">
            <span>标题</span>
            <input id="query_name" class="easyui-textbox"/>

            <input class="btn-search" type="button" value="查询" onclick="dg.query('#dg_data',['name'])"/>
        </form>
    </div>
    <div class="action-wapper">
        <a href="javascript:;" onclick="dlg.open('#dlg', '/admin/message/editView?id=0')"
           class="easyui-linkbutton" data-options="plain:true"><i class="fa fa-plus"></i> 新增</a>
        <a href="javascript:;" onclick="dg.edit('#dg_data', '#dlg', '/admin/message/editView')"
           class="easyui-linkbutton" data-options="plain:true"><i class="fa fa-edit"></i> 编辑</a>
        <a href="javascript:;" onclick="dg.del('#dg_data', '/admin/message/Del','您确定删除该记录吗？')"
           class="easyui-linkbutton" data-options="plain:true"><i class="fa fa-trash-o"></i> 删除</a>
    </div>
</div>
<table id="dg_data" toolbar="#toolbar" class="easyui-datagrid" fit="true" url="/admin/message/list"
       pagination="true" emptyMsg="暂无数据" singleSelect="true">
    <thead>
    <tr>
        <th field="ck" checkbox="true"></th>
        <th field="id" width="120">ID</th>
        <th field="msgType"  formatter="formatter.msgType"  width="150">类型</th>
        <th field="title" width="150">标题</th>
        <th field="content" width="400">内容</th>
        <th field="addTime" formatter="formatter.time2" width="150">创建时间</th>
    </tr>
    </thead>
</table>

<!--新增弹框-->
<div id="dlg" class="easyui-dialog" title="公告管理" style="width:550px;height:520px;padding:10px" buttons="#frmTb"
     closed="true" modal="true" shadow="false" href="/admin/product/ClassifyEdit">
</div>
<div id="frmTb">
    <a href="javascript:;" class="easyui-linkbutton" style="height:32px;width:90px"
       onclick="form.submit('#frm', '#dlg', '#dg_data')">确定</a>
    <a href="javascript:;" class="easyui-linkbutton" style="height:32px;width:90px"
       onclick="dlg.close('#dlg')">取消</a>
</div>
<script src="/js/layer/layer.js"></script>
<script src="/js/base.js"></script>
</body>
</html>