<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理系统 </title>
    <link href="/easyui/easyui.css" rel="stylesheet"/>
    <link href="/easyui/icon.css" rel="stylesheet"/>
    <link href="/easyui/skin-red.css" rel="stylesheet"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet"/>
    <script src="/easyui/jquery.min.js"></script>
    <script src="/easyui/jquery.easyui.min.js"></script>
    <script src="/easyui/local/easyui-lang-zh_CN.js"></script>
</head>
<body>
<div id="toolbar">
    <div class="search-wapper">
        <form class="query">
            <span>卖出用户名</span>
            <input id="query_sUserName" class="easyui-textbox"/>

            <span>买入用户名</span>
            <input id="query_bUserName" class="easyui-textbox"/>

            <span>匹配状态</span>
            <select id="query_status" class="easyui-combobox" style="width:100px;">
                <option value="-1">全部</option>
                <option value="0">待转让</option>
                <option value="1">待付款</option>
                <option value="2">待收款</option>
                <option value="3">已完成</option>
                <option value="4">申诉中</option>
                <option value="5">已取消</option>
            </select>

            <span>记录类型</span>
            <select id="query_type" class="easyui-combobox" style="width:100px;">
                <option value="-1">全部</option>
                <option value="0">正常订单</option>
                <option value="1">申诉订单</option>
            </select>
            <input class="btn-search" type="button" value="查询" onclick="dg.query('#dg_data',['sUserName','bUserName','status,1','type,1'])"/>
        </form>
    </div>
    <div class="action-wapper">

        <a href="javascript:;" onclick="dg.del('#dg_data', '/admin/userHangMatch/complainFinish','是否申诉完成？')"
           class="easyui-linkbutton" data-options="plain:true"><i class="fa fa-check"></i>申诉完成</a>

        <a href="javascript:;" onclick="dg.del('#dg_data', '/admin/userHangMatch/cancel','是否确认駁回？')"
           class="easyui-linkbutton" data-options="plain:true"><i class="fa fa-close"></i>申訴駁回</a>
    </div>
</div>
<table id="dg_data" toolbar="#toolbar" class="easyui-datagrid" fit="true" url="/admin/userHangMatch/AdminTradeMatchList"
       pagination="true" emptyMsg="暂无数据" singleSelect="true">
    <thead>
    <tr>
        <th field="ck" checkbox="true"></th>
        <th field="id" width="50">ID</th>
        <th field="type" formatter="formatter.tradeMatchType" width="80">订单类型</th>
        <th field="state" formatter="formatter.tradeMatchStatus" width="80">交易状态</th>
        <th field="sellUserName" width="100">卖出用户名</th>
        <th field="hangSellId" width="100">卖出單ID</th>
        <th field="buyUserName" width="100">買入用戶名</th>
        <th field="hangBuyId" width="100">買入單ID</th>
        <th field="amount" width="100">金額</th>
        <th field="voucher" formatter="formatter.img2" width="110">凭证</th>
        <th field="complainImg" formatter="formatter.img2" width="110">申诉图片</th>
        <th field="remark" width="120">申诉内容</th>
        <th field="paymentTime" formatter="formatter.time2" width="140">付款时间</th>
        <th field="addTime" formatter="formatter.time2" width="140">创建时间</th>

    </tr>
    </thead>
</table>
<!--新增商品-->
<div id="dlg" class="easyui-dialog" title="订单管理" style="width:750px;height:520px;padding:10px" buttons="#frmTb"
     closed="true" modal="true" shadow="false">
</div>

<div id="dlg2" class="easyui-dialog" title="订单管理" style="width:550px;height:320px;padding:10px" buttons="#frmTb2"
     closed="true" modal="true" shadow="false">
</div>

<div id="frmTb2">
    <a href="javascript:;" class="easyui-linkbutton" style="height:32px;width:90px"
       onclick="form.submit('#frm2', '#dlg2', '#dg_data')">确定</a>
    <a href="javascript:;" class="easyui-linkbutton" style="height:32px;width:90px"
       onclick="dlg.close('#dlg2')">取消</a>
</div>

<script src="/js/layer/layer.js"></script>
<script src="/js/base.js"></script>
</body>
</html>