<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理系统 </title>
    <link href="/easyui/easyui.css" rel="stylesheet"/>
    <link href="/easyui/icon.css" rel="stylesheet"/>
    <link href="/easyui/skin-red.css" rel="stylesheet"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet"/>
    <script src="/easyui/jquery.min.js"></script>
    <script src="/easyui/jquery.easyui.min.js"></script>
    <script src="/easyui/local/easyui-lang-zh_CN.js"></script>
</head>
<body>
<div id="toolbar">
    <div class="search-wapper">
        <form class="query">
            <span>用户名</span>
            <input id="query_userName" class="easyui-textbox"/>

            <span>交易类型</span>
            <select id="query_type" class="easyui-combobox" style="width:100px;">
                <option value="-1">全部</option>
                <option value="0">交易卖出</option>
                <option value="1">交易买入</option>
            </select>

            <span>状态</span>
            <select id="query_status" class="easyui-combobox" style="width:100px;">
                <option value="-1">全部</option>
                <option value="0">匹配中</option>
                <option value="1">已锁定</option>
            </select>

            <input class="btn-search" type="button" value="查询" onclick="dg.query('#dg_data',['userName','status,1','type,1'])"/>

        </form>
    </div>
    <div class="action-wapper">

        <a href="javascript:;" onclick="dg.del('#dg_data', '/admin/trade/hangCancel','是否撤销该挂单？')"
           class="easyui-linkbutton" data-options="plain:true"><i class="fa fa-edit"></i>撤销挂单</a>
    </div>
</div>
<table id="dg_data" toolbar="#toolbar" class="easyui-datagrid" fit="true" url="/admin/trade/tradeList"
       pagination="true" emptyMsg="暂无数据" singleSelect="true">
    <thead>
    <tr>
        <th field="ck" checkbox="true"></th>
        <th field="id" width="100">ID</th>
        <th field="userName" width="100">用户名</th>
        <th field="tradeType" formatter="formatter.tradeType"  width="100">交易类型</th>
        <th field="quantity" width="100">数量</th>
        <th field="price" width="100">单价</th>
        <th field="total" width="100">总价</th>
        <th field="isLock" formatter="formatter.tradeIsLock" width="100">是否锁定</th>
        <th field="isDel" formatter="formatter.tradeIsDel"  width="100">是否撤销</th>
        <th field="feeAmount" width="100">手续费</th>
        <th field="addTime" formatter="formatter.time2" width="150">创建时间</th>
    </tr>
    </thead>
</table>
<!--新增商品-->
<div id="dlg" class="easyui-dialog" title="订单管理" style="width:750px;height:520px;padding:10px" buttons="#frmTb"
     closed="true" modal="true" shadow="false">
</div>

<div id="dlg2" class="easyui-dialog" title="订单管理" style="width:550px;height:320px;padding:10px" buttons="#frmTb2"
     closed="true" modal="true" shadow="false" >
</div>
<div id="frmTb2">
    <a href="javascript:;" class="easyui-linkbutton" style="height:32px;width:90px"
       onclick="form.submit('#frm2', '#dlg2', '#dg_data')">确定</a>
    <a href="javascript:;" class="easyui-linkbutton" style="height:32px;width:90px"
       onclick="dlg.close('#dlg2')">取消</a>
</div>
<script src="/js/layer/layer.js"></script>
<script src="/js/base.js"></script>
</body>
</html>