<form id="frm_updatePwd" action="/admin/Admin/updatePwd" method="post">

    <div style="margin-bottom:20px">
        <input class="easyui-passwordbox" name="pwd" style="width:100%" label="旧密码" required />
    </div>
    <div style="margin-bottom:20px">
        <input class="easyui-passwordbox" name="newPwd" style="width:100%" label="新密码" required />
    </div>
    <div style="margin-bottom:20px">
        <input class="easyui-passwordbox" name="reNewPwd" style="width:100%" label="确认新密码" required />
    </div>
</form>
