<form id="frm" xmlns:th="http://www.w3.org/1999/xhtml">
    <div style="margin-bottom:20px">
        <label>银行卡名称：<span th:text="${BankName}"></span></label>
    </div>
    <div style="margin-bottom:20px">
        <label>银行卡姓名：<span th:text="${RealName}"></span></label>
    </div>
    <div style="margin-bottom:20px">
        <label>银行卡账号：<span th:text="${Account}"></span></label>
    </div>
    <div style="margin-bottom:20px">
        <label>开&nbsp&nbsp&nbsp户&nbsp&nbsp&nbsp行&nbsp：<span th:text="${OpeningBank}"></span></label>
    </div>

</form>